#page1   {
    /* background: url("assets/interior-2591368_1280.png"); */
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
    
}

.name-text {
    font-size: 80px;
    font-family: 'Euphoria Script', cursive;
    text-align: center;
    position: relative;               
    top: 50%;                         
    transform: translate(0, -50%);
    top: 17.5rem;
    opacity: 0;
    color: rgb(233, 42, 109);
    animation-name: fadeIn;
    animation-delay: 2.5s;
    animation-duration: 9s;
    animation-fill-mode: forwards;
  }

  .subtext {
    text-align: center;
    position: relative; 
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;         
    top: 50%;                         
    transform: translate(0, -50%);
    top: 19.5rem;
    opacity: 0;
    color: rgb(238, 107, 153);
    animation-name: fadeIn;
    animation-delay: 5.0s;
    animation-duration: 9s;
    animation-fill-mode: forwards;
  }
  #subtext1{
    float: initial;
  }
  #button {
    width:100px;
    height:20px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin: 0 auto;
    background-color: rgb(238, 107, 153);;
    background-repeat:no-repeat;
    transform: translate(0, -50%);
    border: none;
    cursor:pointer;
    overflow: hidden; 
    animation-delay: 20s;       
    animation:fadeIn 10s;
    -moz-animation:myfirst 10s; /* Firefox */
    -webkit-animation:myfirst   10s; /* Safari and Chrome */
    animation-fill-mode: forwards;
}

@-moz-keyframes myfirst /* Firefox */ {
  from { opacity: 0; }
  to   { opacity: 1; }
  
}

@-webkit-keyframes myfirst /* Safari and Chrome */ {
  from { opacity: 0; }
  to   { opacity: 1; }
  
}
 
  #page2{
    /* background: url("assets/portfoliobackground2.jpeg"); */
    background-repeat: no-repeat;
    background-size: 100%;
  }
  h1{
    font-family: 'Euphoria Script', cursive; 
    color:rgb(233, 22, 96);
  }

  p{
    font-family: 'Open Sans Condensed', sans-serif;
  }

  #welcome{
    background-color: rgb(216, 139, 166);
    /* opacity: 0.6; */
    border-color:rgb(233, 42, 109);
    height: 200px;
    width: 500px;
    color:rgb(66, 66, 66);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 30px;


  }